.footer{
    width: 100%;
    padding: 6rem 0;
    background-color: rgba(19, 19, 19, 0.8);
}
.Footer-Container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-gap: 40px
}
.left{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.left .location{
    display: flex;
    margin-bottom: 2rem;
}
.left .location div p{
    font-size: 1rem;
}
.Phone{
    font-size: 1rem;
    margin-bottom: 2rem;
}
.Email{
    font-size: 1rem;
    margin-bottom: 2rem;
}
.right{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.right h4{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.right p {
    font-size: 1rem;
    padding-bottom: 2rem;
}
